In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('final_players_ODI_2024.csv')
df

        Player Name
0    Mohammed Shami
1       Travis Head
2     Aiden Markram
3     Glenn Maxwell
4      David Warner
5    Glenn Phillips
6      David Miller
7  Heinrich Klaasen
8  Rohit Sharma (c)

In [2]:
import pandas as pd

# Load DataFrames from CSV files
df2 = pd.read_csv('batting.csv')  # Replace with the actual file name
df3 = pd.read_csv('bowling.csv')  # Replace with the actual file name

df_names = df['Player Name'].tolist()
df2_names = df2['batsmanName'].tolist()
df3_names = df3['bowlerName'].tolist()

# Check names in df against df2 and df3
df['In_df2'] = df['Player Name'].isin(df2_names)  # Adds a boolean column for df2
df['In_df3'] = df['Player Name'].isin(df3_names)  # Adds a boolean column for df3

# Alternatively, to get matching names
matching_in_df2 = df[df['In_df2']]
matching_in_df3 = df[df['In_df3']]

# Print the DataFrame with new columns indicating presence in df2 and df3
print("Original DataFrame with match indicators:")
print(df)

# Print the matching players
print("\nMatching players in df2:")
print(matching_in_df2)

print("\nMatching players in df3:")
print(matching_in_df3)

# Optionally, you can save the updated DataFrame to a new CSV
df

Original DataFrame with match indicators:
        Player Name  In_df2  In_df3
0    Mohammed Shami    True    True
1       Travis Head    True    True
2     Aiden Markram    True    True
3     Glenn Maxwell    True    True
4      David Warner    True   False
5    Glenn Phillips    True    True
6      David Miller    True   False
7  Heinrich Klaasen    True   False
8  Rohit Sharma (c)    True   False

Matching players in df2:
        Player Name  In_df2  In_df3
0    Mohammed Shami    True    True
1       Travis Head    True    True
2     Aiden Markram    True    True
3     Glenn Maxwell    True    True
4      David Warner    True   False
5    Glenn Phillips    True    True
6      David Miller    True   False
7  Heinrich Klaasen    True   False
8  Rohit Sharma (c)    True   False

Matching players in df3:
      Player Name  In_df2  In_df3
0  Mohammed Shami    True    True
1     Travis Head    True    True
2   Aiden Markram    True    True
3   Glenn Maxwell    True    True
5  Glenn Phillips    True    True

        Player Name  In_df2  In_df3
0    Mohammed Shami    True    True
1       Travis Head    True    True
2     Aiden Markram    True    True
3     Glenn Maxwell    True    True
4      David Warner    True   False
5    Glenn Phillips    True    True
6      David Miller    True   False
7  Heinrich Klaasen    True   False
8  Rohit Sharma (c)    True   False

In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time

# Load the batting data
batting_df = pd.read_csv('batting.csv')

# Create a mapping of player names to their profile links
player_links = {}
for index, row in batting_df.iterrows():
    player_name = row['batsmanName']  # Adjust if the column name is different
    player_link = row['player_link']  # Adjust if the column name is different
    player_links[player_name] = player_link

# Function to scrape the country and playing role information from player profile
def get_player_info(profile_url):
    try:
        response = requests.get(profile_url)
        if response.status_code == 200:
            soup = BeautifulSoup(response.text, 'html.parser')
            
            # Fetch country information
            country_elem = soup.find('a', title=lambda x: x and "cricket team profile" in x)
            country = country_elem.find('span', class_='ds-text-title-s').text.strip() if country_elem else "Country not found"
            
            # Fetch playing role information using the provided method
            player_details = soup.find('div', class_='ds-grid lg:ds-grid-cols-3 ds-grid-cols-2 ds-gap-4 ds-mb-8')
            playing_role_elem = player_details.find('p', text='Playing Role') if player_details else None
            playing_role = playing_role_elem.find_next('span').text.strip() if playing_role_elem else "Role not found"
            
            return country, playing_role
        else:
            print(f"Failed to retrieve data for URL: {profile_url}")
    except Exception as e:
        print(f"Error fetching information for {profile_url}: {e}")
    return "Country not found", "Role not found"

# Check country and role for each player in df
countries = []
roles = []
for index, row in df.iterrows():
    player_name = row['Player Name']
    if player_name in player_links:
        profile_url = player_links[player_name]
        country, role = get_player_info(profile_url)
        countries.append(country)
        roles.append(role)
        time.sleep(1)  # Add delay to avoid overwhelming the server
    else:
        countries.append("Not Found")
        roles.append("Not Found")

# Add the country and role information to the DataFrame
df['Country'] = countries
df['Role'] = roles

# Print the updated DataFrame
print("Updated DataFrame with country and role information:")
print(df)

C:\Users\kiran\AppData\Local\Temp\ipykernel_19372\3202768010.py:29: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  playing_role_elem = player_details.find('p', text='Playing Role') if player_details else None

Updated DataFrame with country and role information:
        Player Name  In_df2  In_df3       Country                 Role
0    Mohammed Shami    True    True         India               Bowler
1       Travis Head    True    True     Australia     Top order Batter
2     Aiden Markram    True    True  South Africa       Opening Batter
3     Glenn Maxwell    True    True     Australia   Batting Allrounder
4      David Warner    True   False     Australia       Opening Batter
5    Glenn Phillips    True    True   New Zealand           Allrounder
6      David Miller    True   False  South Africa  Middle order Batter
7  Heinrich Klaasen    True   False  South Africa  Wicketkeeper Batter
8  Rohit Sharma (c)    True   False         India     Top order Batter

In [4]:
df = df.drop(columns=['In_df2', 'In_df3'])
df.to_csv('final_players_ODI_2024_info.csv', index=False)
df

        Player Name       Country                 Role
0    Mohammed Shami         India               Bowler
1       Travis Head     Australia     Top order Batter
2     Aiden Markram  South Africa       Opening Batter
3     Glenn Maxwell     Australia   Batting Allrounder
4      David Warner     Australia       Opening Batter
5    Glenn Phillips   New Zealand           Allrounder
6      David Miller  South Africa  Middle order Batter
7  Heinrich Klaasen  South Africa  Wicketkeeper Batter
8  Rohit Sharma (c)         India     Top order Batter